html {
    font-family: 'Verdana', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 300px) {
        background-color: red;
        #small {
            display: block;
            text-align: center;
            font-size: 0.75em;
        }
        #medium {
            display: block;
            text-align: center;
            font-size: 0.75em;
        }
        #large {
            display: block;
            text-align: center;
            font-size: 0.75em;
        }
    }
    @media only screen and (min-width: 300px) and (max-width: 768px) {
        background-color: green;
        #small {
            display: inline-block;
            width: 66%;
            font-size: 16px;
            text-align: left;
            vertical-align: top;
        }
        #medium {
            display: inline-block;
            width: 32%;
            font-size: 16px;
            text-align: left;
            vertical-align: top;
        }
        #large {
            display: block;
            text-align: center;
            font-size: 16px;
            width: 100%;
        }
    }
    @media only screen and (min-width: 768px) {
        background-color: blue;
        #small {
            display: inline-block;
            width: 33%;
            vertical-align: top;
            font-size: 18px;
        }
        #medium {
            display: inline-block;
            width: 33%;
            font-size: 18px;
            vertical-align: top; 
        }
        #large {
            display: inline-block;
            width: 32%;
            font-size: 18px;
            vertical-align: top;
        }
    }
}